/*Background Color*/
.bg-custom-1{
    background-color: #ff1010;
}

.bg-custom-2{
    background-color: #ff0000;
}

.fa-dark{
    color: black !important;
}

.fa-red{
    color: #ee2222 !important;
}

.font-small{
    font-size:12px;
}

.font-white{
    color: white !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.relative{
    position: relative;
}

.height-sidenav{
    height: 500px;
    overflow-x: visible;
    box-shadow: 0 !important;
}

.mr-6{
    margin-left:230px;
    margin-top: 100px;
}

.box{
	background-color: white;
	margin-top: 15px;
	padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link.box.active{
    background-color: red;
    color: white
}
